@model ZooMVC.Models.Habitat

@{
    ViewData["Title"] = "Eliminar";
}

<h2>Eliminar</h2>

<h3>¿Estás seguro que quieres eliminar esto?</h3>
<div>
    <h4>Hábitat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vegetation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Itinerary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Itinerary.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
