@model ZooMVC.Models.Habitat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vegetation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Itinerary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Itinerary.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
