@model ZooMVC.Models.Habitat

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Hábitat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weather)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weather)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vegetation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vegetation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Itinerary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Itinerary.Id)
        </dd>
    </dl>
</div>
<div>
    <h4>Especies</h4>
    <hr />
    @foreach (var c in Model.HabitatsSpecies)
    {
        <li><a asp-controller="Species" asp-action="Details" asp-route-id="@c.Specie.Id">@c.Specie.FullName (@c.Index)</a></li>
    }
    <hr />
</div>
<form asp-action="AddSpecie" asp-route-id="@Model.Id" method="post">

    <div class="form-group">
        <label class="control-label">Hábitat:</label>
        <select name="SpecieId" class="form-control" asp-items="ViewBag.SpecieId"></select>
    </div>
    <div class="form-group">
        <label class="control-label">Index:</label>
        <input type="text" name="Index" class="form-control">
    </div>
    <div class="form-group">
        <input type="submit" value="Añadir" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
