@model ZooMVC.Models.Itinerary

@{
    ViewData["Title"] = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Itinerario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visitors)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visitors)
        </dd>
    </dl>
</div>
<div>
    <h4>Hábitats</h4>
    <hr />
    @foreach (var h in Model.Habitats)
    {
        <li><a asp-controller="Habitats" asp-action="Details" asp-route-id="@h.Id">@h.Name</a></li>
    }
    <hr />
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
